body{
    background-color: #6ebaf5;
}
nav ul li{
    list-style-type: none;
    text-decoration-style: none;
    display: inline;
    padding: 5px;
    color: green;
    text-transform: uppercase;
    font-size: medium;
    justify-content: right;
}
h2{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}
p{
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    justify-content: center;
}
h3{
    color:white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}
#Footer{
    justify-content: center;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
#Worried{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    margin-inline-start: 20;
}
#Mission{
   column-count: 2;
   max-width: 1300px;
   justify-content: center;
       }


