body{
    background-color: #6ebaf5;
    width: 80%;
    display: block;
    margin: auto;
}
nav{
    height: 5%;
    width: 100%;
    border-bottom: 2px solid gray;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: black;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
h1{
    color: white;
    clear: right;
    padding-top: 5%;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p{
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}
#img>img{
    margin: auto;
    width: 50%;
    border-radius: 20%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img1>img{
    margin: auto;
    width: 50%;
    border-radius: 20%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img2>img{
    margin: auto;
    border-radius: 20%;
    display: block;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav>ul>img{
    box-shadow: 0 4zpx 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
}
#Footer{
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
    background-color: grey;
    color: white;
    height:150px;
    text-align: center;
}